
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>关于我们</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Free HTML5 Website Template by FreeHTML5.co" />
<link rel="stylesheet" href="/static/user/css/bootstrap.css">
<link rel="stylesheet" href="/static/user/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
<link rel="stylesheet" href="/static/user/css/reset.css">
<link rel="stylesheet" href="/static/user/css/theme.css" />
</head>
<body>
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">关于我们</div>
	</header>

	<div id="fh5co-header" style="background-image: url(/static/user/img/polygon.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="bio-photo text-center">
			<h1>郸锋</h1><a ><img class="logo" src="/static/user/img/logo.png"></a>
		</div>
	</div>

	<div id="fh5co-main">

		<div class="fh5co-section fh5co-works">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2 class="titleus">01. Production members</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a  class="image-popup" title="Mirage"><img
									src="/static/user/img/img_1.jpg" class="img-responsive"></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a  class="image-popup" title="ゆ -Sky worth"><img
									src="/static/user/img/img_2.png" class="img-responsive"></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a  class="image-popup" title="〆北京東路の日子﹎"><img
									src="/static/user/img/img_3.jpg" class="img-responsive"></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a  class="image-popup" title="肆"><img
									src="/static/user/img/img_4.jpg" class="img-responsive"></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a  class="image-popup" title="Charon"><img
									src="/static/user/img/img_5.jpg" class="img-responsive"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->

		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>02. About Us</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-md-12">
								<p class="pus">
									&nbsp;&nbsp;我们是来自邯郸学院的一支参赛队伍——郸锋。团队共五人，历时4个月，制作出了您现在所使用的这套程序。虽然用于参加比赛，但无论是设计还是制作，都是以实际应用为标准，致力于更好的用户体验。
								</p>
								<p class="pus">
									&nbsp;&nbsp;我们真心的希望，这套程序可以被使用于废品回收，不仅方便回收员和用户，更可以为绿色环保做出贡献。</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- END .fh5co-section -->


			<div class="fh5co-section">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
							<h2>03. Contact Us</h2>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<p class="pus">QQ：905884644</p>
									<p class="pus">E-mail：905884644@qq.com</p>
									<p class="pus">联系电话：13082070520</p>
									<p class="pus">地址：河北省邯郸市邯山区邯郸学院</p>
									<p class="pus">在此，感谢您的使用^_^~</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END .fh5co-section -->
		</div>
	</div>


</body>
</html>