<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>评价用户</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css"
	href="/static/user/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
<link rel="stylesheet" href="/static/user/css/reset.css">
<link rel="stylesheet" href="/static/user/css/theme.css" />
<link rel = "Shortcut Icon" href="/favicon.ico">
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				评价用户
			</div>		
		</header>
	    <div id="main" class="mui-clearfix">
	    	<div class="assess clearfloat">
	    		<div class="top clearfloat box-s">
	    			<div class="tu fl clearfloat">
	    				<img src="/static/user/img/lode.jpg"/>
	    			</div>
	    			<div class="pinfen fl clearfloat">
	    				<p class="tit">Mirage</p>
	    				<br/>
	    				<div class="assess-right1">
	    					<img onclick="level1(1)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level1(2)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level1(3)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level1(4)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level1(5)" src="/static/user/img/detail-iocn001.png"/>
	    				</div>
	    			</div>
	    		</div>
	    		<textarea rows="4" class="box-s" placeholder="请您对用户进行评价，这将会影响到此用户的等级和信用值" ></textarea>
	    		<div class="bottom clearfloat box-s fl">
	    			<ul>
						<li>
							客户守时情况&nbsp;&nbsp;&nbsp;
						</li>
						<li class="assess-right2">
	    					<img onclick="level2(1)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level2(2)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level2(3)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level2(4)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level2(5)" src="/static/user/img/detail-iocn001.png"/>
						</li>
					</ul>
					<ul>
						<li>
							客户态度情况&nbsp;&nbsp;&nbsp;
						</li>
						<li class="assess-right3">
	    					<img onclick="level3(1)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level3(2)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level3(3)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level3(4)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level3(5)" src="/static/user/img/detail-iocn001.png"/>
						</li>
					</ul>
					<ul>
						<li>
							客户物品情况&nbsp;&nbsp;&nbsp;
						</li>
						<li class="assess-right4">
	    					<img onclick="level4(1)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level4(2)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level4(3)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level4(4)" src="/static/user/img/detail-iocn001.png"/>
							<img onclick="level4(5)" src="/static/user/img/detail-iocn001.png"/>
						</li>
					</ul>
	    		</div>
	    	</div>
	    </div>	 
     	<a id="sub-btn" class="address-add fl ra3">提交</a>
	</body>
	
		<script type="text/javascript" src="/static/user/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/user/js/common.js"></script>
	<script type="text/javascript" src="/static/user/js/mui.min.js"></script>
	<script type="text/javascript">
	$(function() {
		init();
		/* var orderId = getUrlArgObject()['orderId'];
		var addr;
		if(orderId == null) 
			$.ajax({
				"url" : "/users/default",								
				"contentType": "application/json",
				"type" : "get",
				"async": false,
				"error" : function() {
					mui.alert("服务器繁忙", "提示");
				},
				"success" : function(returnData) {
					addrId=returnData.data;
				}
			});
		if (addrId != null) {
			
		} */
		$("#sub-btn").click(function(){
			mui.alert("提交成功", "提示");
			window.location.href='/business/order';
		});
		
	});
	function init()       
	{			
		level1(0);
		level2(0);
		level3(0);
		level4(0);
	}
		function level1(s)       
		{			
			var str = '';		
			var k = 6-s;			
			for(i=1;i<s+1;i++)   
			{	
				str += "<img onclick='level1("+i+")' src='/static/user/img/detail-iocn01.png'/>";
			}
			for(j=1;j<k;j++)
			{
				var d=j+s
				str += "<img onclick='level1("+d+")' src='/static/user/img/detail-iocn001.png'/>";
			}		
			$('.assess-right1').html(str);
		}
		function level2(s)       
		{			
			var str = '';		
			var k = 6-s;			
			
			for(i=1;i<s+1;i++)   
			{	
				str += "<img onclick='level2("+i+")' src='/static/user/img/detail-iocn01.png'/>";
			}
			for(j=1;j<k;j++)
			{
				var d=j+s
				str += "<img onclick='level2("+d+")' src='/static/user/img/detail-iocn001.png'/>";
			}		
			$('.assess-right2').html(str);
		}
		function level3(s)       
		{			
			var str = '';		
			var k = 6-s;			
			for(i=1;i<s+1;i++)   
			{	
				str += "<img onclick='level3("+i+")' src='/static/user/img/detail-iocn01.png'/>";
			}
			for(j=1;j<k;j++)
			{
				var d=j+s
				str += "<img onclick='level3("+d+")' src='/static/user/img/detail-iocn001.png'/>";
			}		
			$('.assess-right3').html(str);
		}
		function level4(s)       
		{			
			var str = '';		
			var k = 6-s;			
			for(i=1;i<s+1;i++)   
			{	
				str += "<img onclick='level4("+i+")' src='/static/user/img/detail-iocn01.png'/>";
			}
			for(j=1;j<k;j++)
			{
				var d=j+s
				str += "<img onclick='level4("+d+")' src='/static/user/img/detail-iocn001.png'/>";
			}		
			$('.assess-right4').html(str);
		}
	</script>
</html>
