<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>订单详情</title>
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<link rel="stylesheet" type="text/css"
	href="/static/user/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
<link rel="stylesheet" href="/static/user/css/reset.css">
<link rel="stylesheet" href="/static/user/css/theme.css" />
<link rel="Shortcut Icon" href="/favicon.ico">
</head>
<body>
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-content">
				<div class="wait-i"></div>
				<div id="loading-center-absolute">
					<div class="object" id="object_one"></div>
					<div class="object" id="object_two" style="left: 20px;"></div>
					<div class="object" id="object_three" style="left: 40px;"></div>
					<div class="object" id="object_four" style="left: 60px;"></div>
					<div class="object" id="object_five" style="left: 80px;"></div>
				</div>
				<p class="wait-i1">请耐心等待，加载中...</p>
			</div>

		</div>
	</div>
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">订单详情</div>
	</header>
	<div id="main" class="mui-clearfix">
		<div class="track clearfloat">
			<div class="warning clearfloat box-s">
				<div class="ctent clearfloat box-s">
					请您合理安排时间，保证可以在客户预约的时间之内可以到达，再选择接单。</div>
				<p class="num" id="orderId">订单号：123456789121213</p>
			</div>
			<div class="state clearfloat box-s">
				<ul>
					<li class="order-li"><span class="order-li-left">预约时间：</span><span class="order-li-right" id="expectTime"></span></li>
					<li class="order-li"><span class="order-li-left">预约地址：</span><span class="order-li-right" id="collectAddress"></span></li>
					<li class="order-li"><span class="order-li-left">手机号：</span><span class="order-li-right"   id="phone"></span></li>
					<li class="order-li"><span class="order-li-left">下单时间：</span><span class="order-li-right" id="applyTime"></span></li>
				</ul>
			</div>
			<div class="state clearfloat box-s">
				<ul>
					<li class="order-li">订单状态：待接单</li>
				</ul>
			</div>
			<div class="process clearfloat box-s">
				<div class="list clearfloat">
					<i class="iconfont dian"></i>
					<div class="you clearfloat">
						<p class="tit">订单待分配</p>
						<p class="time">2018-03-01 16:35</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="renting-footer clearfloat" id="footer">
		<ul>
			<li><a href="tel://130820700000">联系买家</a></li>
			<li><a id="sub-btn">确认接单</a></li>
		</ul>
	</div>
</body>
<script type="text/javascript" src="/static/user/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/user/js/common.js"></script>
<script type="text/javascript" src="/static/user/js/mui.min.js"></script>
<script type="text/javascript">
	$(function() {
		var orderId = getUrlArgObject()['orderId'];
		if (orderId > 0 && orderId != null) {
			$
					.ajax({
						"url" : "/user/orders/" + orderId,
						"contentType" : "application/json",
						"type" : "get",
						"async" : false,
						"error" : function() {
							mui.alert("服务器繁忙", "提示");
						},
						"success" : function(returnData) {

							if (returnData.success) {
								//加载用户信息（未完成）

								$
										.ajax({
											"url" : "/user/collect_address/"
													+ returnData.data.collectAddressId,
											"contentType" : "application/json",
											"type" : "get",
											"async" : false,
											"error" : function() {
												mui.alert("服务器繁忙", "提示");
											},
											"success" : function(returnData) {
												if (returnData.success) {
													$("#orderId")
													.html("订单号："+orderId);
													$("#applyName")
															.html(returnData.data.applyName);
													$("#phone")
															.html(returnData.data.phone);
													$("#collectAddress")
															.html(returnData.data.province
																			+ returnData.data.city
																			+ returnData.data.district
																			+ returnData.data.town
																			+ returnData.data.address);

												}
											}
										});

								$("#applyTime")
										.html(getMyDate(returnData.data.applyTime));
								$("#expectTime")
										.html( getMyDate(returnData.data.expectTime));
								$(".time")
										.html(
												"预约时间："
														+ getMyDate(returnData.data.expectTime));
								$("#loading").hide();
							} else {
								mui.alert(returnData.errMsg, "提示");
							}

						}
					});
			$('#collectAddress').parent(".order-li").css({ 
                'height':$('#collectAddress').css('height') //获取子元素的高度
            });
			$("#sub-btn").click(function(){
				$.ajax({
					"url" : "/business/orders/taking/"
							+ orderId,
					"contentType" : "application/json",
					"type" : "put",
					"error" : function() {
						mui.alert("服务器繁忙", "提示");
					},
					"success" : function(returnData) {
						mui.alert("接单成功", "提示");
						window.location='/business/order';
					}
				});
			});
		}
	});
</script>
</html>
