<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>帮助中心</title>
	<link rel="stylesheet" href="/static/user/css/ui.css">
	<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
	<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
	<link rel="stylesheet" href="/static/user/css/reset.css">
	<link rel="stylesheet" href="/static/user/css/theme.css" />
	<link rel="Shortcut Icon" href="/favicon.ico">
</head>
<body class="body">
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">帮助</div>
	</header>
<div class="news-detail news-detail-page">
	<h1 class="title">郸锋资源回收系统使用说明</h1>
	<div class="news-info b-line">
		<span class="data">2018-03-22</span>
		<span class="publi">来源：郸锋资源回收</span>
	</div>
</div>
<div class="news-page-text">
	<p>帮助</p>
	<p>十分感谢您使用我们这个平台，为绿色环保，资源回收做出贡献。
在此，向您介绍使用说明。
我们最大的特点就是，只要您在合适的时间、地点预约。我们将会为您分配专业人员上门回收。</p>

<p>如何预约？</p>
<p>在首页点击“预约”。选择您的地址，填写预约时间(未来两周之内的8:00-17:00间)，添加备注。点击“确认预约”。
我们将会在后台为您匹配合适的人员，在您预约的时间里，上门回收。</p>

<p>如何添加地址？</p>
<p>点击“我的”，选择“地址管理”，添加新地址。填写您的基本信息（昵称，手机号，地区，详细地址），您可以将它设为默认地址，方便您的预约。</p>

<p>如何进行交易？</p>
<p>在预约时间，我们的回收员会到您选择的地址，进行回收。您只需要，确定您回收的每样东西的单位数，在回收员向您付钱时，仔细确认，以确保您的利益不受损失。</p>

<p>如何提现？</p>

<p>点击“我的”，选择“提现”。输入您想要提现的金额，选择您的提现方式，如果您选择微信，我们将把钱转入您的微信钱包中，如果您选择支付宝，我们将把钱转入您输入的支付宝账号中。</p>

<p>其他问题</p>
<p>您可以在“我的”，选择“我的客服”，联系我们的客服为您解决问题。也可以直接在微信公众号向客服提问。</p>
	<p><img src="/static/user/img/index-btn-img2.jpg" class="hero-pic"></p>
</div>

</body>
</html>