<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="x-dns-prefetch-control" content="on" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>价格</title>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<link rel="stylesheet" type="text/css"
	href="/static/user/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
<link rel="stylesheet" href="/static/user/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/user/css/price.css">
<link rel="stylesheet" href="/static/user/css/theme.css" />
<link rel="Shortcut Icon" href="/favicon.ico">

<script type="text/javascript">
	!function() {
		function a() {
			var clientWidth = document.documentElement.clientWidth > 640 ? 640
					: document.documentElement.clientWidth;
			document.documentElement.style.fontSize = clientWidth / 7.5 + "px";
		}
		var b = null;
		window.addEventListener("resize", function() {
			clearTimeout(b), b = setTimeout(a, 300)
		}, !1), a()
	}(window);
</script>
</head>

<body>
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">公示价格</div>
	</header>
	<div id="contentbox">
		<div class="menu">
			<div class="menuItem" category="-1">常用查找</div>
			<div class="menuItem" category="0">纸制品</div>
			<div class="menuItem" category="1">塑料制品</div>
			<div class="menuItem" category="2">金属制品</div>
			<div class="menuItem" category="3">废旧电池</div>
			<div class="menuItem" category="4">家电回收</div>
			<div class="menuItem" category="5">家具回收</div>
			<div class="menuItem" category="7">其他</div>
		</div>

		<div class="categoryBox">
			<div class="categoryContent">
				<div class="categoryList first" category="-1">
					<div class="title">常用查找</div>
					<div class="categoryItem">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/paper1.jpg">
						</div>
						<span class="text">废报纸</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/plastic1.jpg">
						</div>
						<span class="text">塑料瓶</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal1.jpg">
						</div>
						<span class="text">铁制品</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical1.jpg">
						</div>
						<span class="text">冰箱</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/furniture1.jpg">
						</div>
						<span class="text">橱柜</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/cell1.jpg">
						</div>
						<span class="text">一次性电池</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical6.png">
						</div>
						<span class="text">旧手机</span> <span class="text1">￥0.8/斤</span>
					</div>
				</div>
				<div class="categoryList" category="0">
					<div class="title">纸制品</div>
					<div class="categoryItem" data-url="/category/detail/0"
						data-seccategory="-1">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/paper1.jpg">
						</div>
						<span class="text">废报纸</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/0/1"
						data-seccategory="1" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"0","usc":"1"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/paper2.png">
						</div>
						<span class="text">废纸箱</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/0/10"
						data-seccategory="10" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"0","usc":"10"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/paper3.png">
						</div>
						<span class="text">废旧书本</span> <span class="text1">￥0.8/斤</span>
					</div>

				</div>
				<div class="categoryList" category="1">
					<div class="title">塑料制品</div>
					<div class="categoryItem" data-url="/category/detail/1"
						data-seccategory="-1">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/plastic1.jpg">
						</div>
						<span class="text">塑料瓶</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/1/1001"
						data-seccategory="1001" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"1","usc":"1001"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/plastic2.jpg">
						</div>
						<span class="text">塑料容器</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/1/1002"
						data-seccategory="1002" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"1","usc":"1002"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/plastic3.jpg">
						</div>
						<span class="text">塑料玩具</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/1/1015"
						data-seccategory="1015" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"1","usc":"1015"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/plastic4.jpg">
						</div>
						<span class="text">其他塑料</span> <span class="text1">￥0.8/斤</span>
					</div>
				</div>
				<div class="categoryList" category="2">
					<div class="title">金属制品</div>
					<div class="categoryItem" data-url="/category/detail/2"
						data-seccategory="-1">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal1.jpg">
						</div>
						<span class="text">铁制品</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/2/2001"
						data-seccategory="2001" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"2","usc":"2001"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal2.jpg">
						</div>
						<span class="text">铜制品</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/2/2002"
						data-seccategory="2002" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"2","usc":"2002"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal3.jpg">
						</div>
						<span class="text">铝制品</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/2/2004"
						data-seccategory="2004" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"2","usc":"2004"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal4.jpg">
						</div>
						<span class="text">钢制品</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/2/2005"
						data-seccategory="2005" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"2","usc":"2005"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal5.jpg">
						</div>
						<span class="text">铝制易拉罐</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/2/2003"
						data-seccategory="2003" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"2","usc":"2003"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal6.jpg">
						</div>
						<span class="text">铁质易拉罐</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/2/2006"
						data-seccategory="2006" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"2","usc":"2006"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/metal7.jpg">
						</div>
						<span class="text">其他金属</span> <span class="text1">￥0.8/斤</span>
					</div>
				</div>
				<div class="categoryList" category="3">
					<div class="title">废旧电池</div>
					<div class="categoryItem" data-url="/category/detail/3"
						data-seccategory="-1">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/cell1.jpg">
						</div>
						<span class="text">一次性电池</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/3/3004"
						data-seccategory="3004" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"3","usc":"3004"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/cell2.jpg">
						</div>
						<span class="text">充电电池</span> <span class="text1">￥0.8/斤</span>
					</div>
				</div>
				<div class="categoryList" category="4">
					<div class="title">家电回收</div>
					<div class="categoryItem" data-url="/category/detail/4"
						data-seccategory="-1">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical1.jpg">
						</div>
						<span class="text">冰箱</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/4/4001"
						data-seccategory="4001" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"4","usc":"4001"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical2.jpg">
						</div>
						<span class="text">电视</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/4/4003"
						data-seccategory="4003" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"4","usc":"4003"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical3.jpg">
						</div>
						<span class="text">洗衣机</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/4/4002"
						data-seccategory="4002" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"4","usc":"4002"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical4.png">
						</div>
						<span class="text">空调</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/4/4004"
						data-seccategory="4004" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"4","usc":"4004"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical5.jpg">
						</div>
						<span class="text">旧电脑</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/4/4000"
						data-seccategory="4000" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"4","usc":"4000"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/electrical6.png">
						</div>
						<span class="text">旧手机</span> <span class="text1">￥0.8/斤</span>
					</div>
				</div>
				<div class="categoryList" category="5">
					<div class="title">家具回收</div>
					<div class="categoryItem" data-url="/category/detail/5/5001"
						data-seccategory="5001" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"5","usc":"5001"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/furniture1.jpg">
						</div>
						<span class="text">橱柜</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/5/5005"
						data-seccategory="5005" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"5","usc":"5005"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/furniture2.jpg">
						</div>
						<span class="text">沙发</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/5/5002"
						data-seccategory="5002" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"5","usc":"5002"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/furniture3.jpg">
						</div>
						<span class="text">床</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/5/5003"
						data-seccategory="5003" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"5","usc":"5003"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/furniture4.jpg">
						</div>
						<span class="text">桌子</span> <span class="text1">￥0.8/斤</span>
					</div>
					<div class="categoryItem" data-url="/category/detail/5/5018"
						data-seccategory="5018" statisticEvent="click"
						statistic='{"data":{"uu":"","uc":"5","usc":"5018"},"route":"click"}'>
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/furniture5.jpg">
						</div>
						<span class="text">椅子</span> <span class="text1">￥0.8/斤</span>
					</div>
				</div>
				<div class="categoryList" category="7">
					<div class="title">其他</div>
					<div class="categoryItem" data-url="/category/detail/7"
						data-seccategory="-1">
						<div class="categoryIcon lazyLoad"></div>
						<div class="cursorArea">
							<img src="/static/user/img/imgs/else.jpg">
						</div>
						<span class="text">其他</span> <span class="text1">￥0.8/斤</span>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1"></div>
					<p>首页</p>
				</a>
			</div>
			<div>
				<a href="price.html">
					<div class="icon i-3 on"></div>
					<p>价格</p>
				</a>
			</div>
			<div>
				<a href="order.html">
					<div class="icon i-7"></div>
					<p>订单</p>
				</a>
			</div>
			<div>
				<a href="center.html">
					<div class="icon i-4"></div>
					<p>我的</p>
				</a>
			</div>
		</footer>
</body>
<script type="text/javascript" src="/static/user/js/jquery.min.js"></script>
<script type="text/javascript">
	var doing = true;
	var category = -1;

	var maskIsHide = true;//阻止
	var pushState = null;

	// 获取手机型号
	var ignorePhoneModel = [ 'sm-g9200', 'sm-g9208', 'sm-c7000', 'notSupport' ];
	function getPhoneModel() {
		if (typeof history.pushState == "undefined") {
			return "notSupport";
		}

		var UA = navigator.userAgent;
		var model = '';
		try {
			var _model = UA.match(/;\s?([^;]+)\s?Build/i);
			if (_model) {
				_model = _model[1];
				model = _model.trim();
			}
		} catch (e) {
		}
		return model.toLowerCase();
	}

	window.onpopstate = function(event) {
		if ($.os.android && ignorePhoneModel.indexOf(getPhoneModel()) == -1) {
			if (pushState && pushState.backevent) {
				$(document.body).trigger(pushState.backevent);
			}
			pushState = event.state;
		}
		$(document).trigger('history:back', event.state);
	};
	//滚动触发菜单栏
	function pageScroll() {
		var _scrollTop = $(".categoryBox").scrollTop();
		var _height = -(document.documentElement.clientHeight || $(window)
				.height()) / 2 + 25;
		var index = 1;
		$(".categoryList").each(function() {
			_height += $(this).height();
			if (_height > _scrollTop) {
				return;
			}
			index++;
		});
		$(".menu .menuItem").removeClass("selected");
		$(".menu .menuItem:nth-child(" + index + ")").addClass("selected");
	}

	$(function() {
		var _category = window.location.search.match(/[\?&]category=(\d+)&?/);
		if (null != _category) {
			category = _category[1];
		}

		//点击菜单定位
		$(".menu").on("click", ".menuItem", function() {
			doing = false;
			var self = $(this);
			if (!self.hasClass("selected")) {
				category = self.attr("category");
				$(".menu .menuItem").removeClass("selected");
				self.addClass("selected");
				$(".categoryBox").scrollTop(self.attr("scroll"));
			}
			setTimeout(function() {
				doing = true;
			}, 100)
		});

		//进入分类
		$(".categoryItem").on("click", function() {
			var url = $(this).data("url");
			if (!url) {
				return false;
			}
			$(this).addClass("clicked");
			setTimeout(function() {
				$(this).removeClass('clicked');
			}, 1000);
			if (ignorePhoneModel.indexOf(getPhoneModel()) == -1) {
				var scrollTop = $("body").scrollTop();
				history.replaceState({
					scrollTop : scrollTop
				}, document.title, "?category=" + category);
			}
			var secCategory = $(this).data('seccategory');
			//            wptRedirect(url, 200);
		});

		//回退定位高度
		if (ignorePhoneModel.indexOf(getPhoneModel()) == -1) {
			window.onpopstate = function(event) {
				if (null != event.state
						&& 'undefined' != typeof event.state.scrollTop) {
					$("body").scrollTop(event.state.scrollTop);
				}
			};
		}

		// 初始化左边栏选项
		$(".menu .menuItem[category='" + category + "']").addClass('selected');
		$(".categoryList[category='" + category + "']").show();

		//计算各分类高度
		var _dataHeight = -50;
		$(".categoryList").each(
				function(i, item) {
					if (i == 0) {
						$(".menu .menuItem:nth-child(" + (1) + ")").attr(
								"scroll", 0);
					} else {
						$(".menu .menuItem:nth-child(" + (i + 1) + ")").attr(
								"scroll", _dataHeight);
					}
					_dataHeight += $(item).height();
				});

		//页面滚动
		$(".categoryBox").on('scroll', function(e) {
			e.stopPropagation();
			e.preventDefault();
			if (doing) {
				pageScroll();
			}
		});

		pageScroll();

		$(".menuItem[category='-1']").click();
	});
</script>
</html>