<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>提现成功</title>
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<link rel="stylesheet" type="text/css"
	href="/static/user/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
<link rel="stylesheet" href="/static/user/css/reset.css">
<link rel="stylesheet" href="/static/user/css/theme.css" />
<link rel="Shortcut Icon" href="/favicon.ico">
</head>
<body>
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-content">
				<div class="wait-i"></div>
				<div id="loading-center-absolute">
					<div class="object" id="object_one"></div>
					<div class="object" id="object_two" style="left: 20px;"></div>
					<div class="object" id="object_three" style="left: 40px;"></div>
					<div class="object" id="object_four" style="left: 60px;"></div>
					<div class="object" id="object_five" style="left: 80px;"></div>
				</div>
				<p class="wait-i1">请耐心等待，加载中...</p>
			</div>

		</div>
	</div>
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">提现成功</div>
	</header>

	<div id="container">
		<div id="main">
			<form class="wrapper-list">
				<h4 class="dh-success" style="color: red">
					<img src="/static/user/img/success.png" ; width="25px">提现成功
				</h4>
				<dl class="list">
					<dd>
						<dl>
							<dd class="dd-padding kv-line-r">
								<h6>用户ID：</h6>
								<span class="kv-v"> <span id="uid"
									class="J_total-price"></span>
								</span>
							</dd>
							<dd class="dd-padding kv-line-r">
								<h6>昵称：</h6>
								<span class="kv-v"> <span id="display-name"
									class="J_total-price"></span>
								</span>
							</dd>
							<dd class="dd-padding kv-line-r">
								<h6>支付宝：</h6>
								<span class="kv-v"> <span id="zfb"
									class="J_total-price"></span>
								</span>
							</dd>
							<dd class="dd-padding kv-line-r">
								<h6>微信昵称：</h6>
								<span class="kv-v"> <span id="wx"
									class="J_total-price"></span>
								</span>
							</dd>
							<dd class="dd-padding kv-line-r">
								<h6>提现金额：</h6>
								<span class="kv-v"> <span id="money"
									class="J_total-price"></span>
								</span>
							</dd>
						</dl>
					</dd>
				</dl>
				<dl class="list">
					<dd>
						<dl>
							<dd class="dd-padding kv-line-r">
								<h6>当前账户余额：</h6>
								<span class="kv-v"> <span id="totalPrice"
									class="J_total-price"></span>
								</span>
							</dd>
						</dl>
					</dd>
				</dl>
			</form>
		</div>
		<a href="/user/center" class="address-add fl">完成 </a>
	</div>
</body>
<script type="text/javascript" src="/static/user/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/user/js/common.js"></script>
<script type="text/javascript" src="/static/user/js/mui.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#zfb").parents(".kv-line-r").hide();
		$("#wx").parents(".kv-line-r").hide();
		var money = getUrlArgStr()['money'];

		var zfb = getUrlArgStr()['zfb'];
		$("#money").text(money);
		$.ajax({
			"url" : "/user/info",
			"contentType" : "application/json",
			"type" : "get",
			"error" : function() {
				mui.alert("服务器繁忙", "提示");
			},
			"success" : function(returnData) {
				if (returnData.success) {
					$("#uid").text(returnData.data.userInfoEntity.userId);
					$("#display-name").text(returnData.data.userInfoEntity.displayName);
					$("#totalPrice").text(returnData.data.userInfoEntity.money);
					if(zfb!=null){
						$("#zfb").parents(".kv-line-r").show();
						$("#zfb").text(zfb);
					}else{
						$("#wx").parents(".kv-line-r").show();
						$("#wx").text(returnData.data.userInfoEntity.displayName);
					}
				} else {
					mui.alert(returnData.errMsg, "提示");
				}

			}
		});	
		$("#loading").hide();
	});	
</script>
</html>
