<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>提现管理</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" th:href="@{/static/user/css/common.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/user/css/index.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/static/user/css/mui.min.css}"/>
		<link rel="stylesheet" th:href="@{/static/user/css/reset.css}">
		<script type="text/javascript" th:src="@{/static/user/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/user/js/iscroll.js}"></script>
		<script type="text/javascript" th:src="@{/static/user/js/jquery.flexslider-min.js}"></script>
		<script th:src="@{/static/user/js/hmt.js}" type="text/javascript"></script>
		<script type="text/javascript" th:src="@{/static/user/js/index.js}"></script>
		<script th:src="@{/static/user/js/swiper.min.js}" type="text/javascript" ></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">提现管理
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
			    <div class="warp warpthree clearfloat">
			    	<div class="account clearfloat">
			    		<div class="top clearfloat">
			    			<ul>
			    				<li class="box-s">操作时间</li>
			    				<li>进出账</li>
			    				<li>余额</li>
			    			</ul>
			    		</div>
			    		<div class="list clearfloat box-s">
			    			<div class="shang clearfloat">
			    				<ul>
				    				<li class="box-s">2018-01-22 12:59:57</li>
				    				<li>+23.0</li>
				    				<li>30.0</li>
				    			</ul>
			    			</div>
			    			<div class="shang clearfloat">
			    				<ul>
				    				<li class="box-s">2018-01-23 07:18:23</li>
				    				<li>-50.0</li>
				    				<li>15.0</li>
				    			</ul>
			    			</div>
			    			<div class="bottom clearfloat">
			    				<span class="fl">2018-02-10 13:29:47</span>
			    				<p class="fr">余额：15.0</p>
			    			</div>
			    		</div>	    		
			    	</div>
			    </div>
			</div>
		</div>
	
	</body>
	<script type="text/javascript" th:src="@{/static/user/js/jquery-1.8.3.min.js}" ></script>
	<script th:src="@{/static/user/js/mui.min.js}"></script>
	<script th:src="@{/static/user/js/others.js}"></script>
	<script type="text/javascript" th:src="@{/static/user/js/hmt.js}" ></script>
	<script th:src="slick/slick.js}" type="text/javascript" ></script>
	<!--插件-->
	<link rel="stylesheet" th:href="@{/static/user/css/swiper.min.css}">
	<script th:src="@{/static/user/js/swiper.jquery.min.js}"></script>
</html>

