<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>首页</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		
		<link rel="stylesheet" type="text/css" href="/static/user/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
		<link rel="stylesheet" type="text/css" href="/static/user/css/mui.min.css"/>
		<link rel="stylesheet" href="/static/user/css/reset.css">
		<link rel="stylesheet" href="/static/user/css/ui.css" />
		
		<script type="text/javascript" src="/static/user/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/user/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="/static/user/js/hmt.js" ></script>
		<script type="text/javascript" src="/static/user/js/index.js"></script>
		<script src="/static/user/js/swiper.min.js" ></script>
	<link rel="stylesheet" type="text/css" href="/static/user/css/wait.css">
	<script type="text/javascript" src="/static/user/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/static/user/js/wait.js"></script>
	</head>

	<body>
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div class="wait-i"><img class="wait-img" src="/static/user/img/lode.png"></div>
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two" style="left:20px;"></div>
				<div class="object" id="object_three" style="left:40px;"></div>
				<div class="object" id="object_four" style="left:60px;"></div>
				<div class="object" id="object_five" style="left:80px;"></div>
				<p class="wait-i1">请耐心等待，加载中... </p>
			</div>
		</div> 
	</div>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<div class="header-tit">首页</div>
		</header>
		<div id="container">		
			<div id="main">
				<div id="scroller">
				<!-- banner轮播图 -->
					<section class="banner">
						<div class="swiper-container swiper-container1">
							<div class="swiper-wrapper bannerwidth">
								<div class="swiper-slide swiper-slide-duplicate">
									<a href="#">
										<img src="/static/user/img/banner1.jpg" width="100%">
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#">
										<img src="/static/user/img/banner2.jpg" width="100%">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-duplicate">
									<a href="#">
										<img src="/static/user/img/banner3.jpg" width="100%">
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#">
										<img src="/static/user/img/banner4.jpg" width="100%">
									</a>
								</div>
							</div>
							<div class="swiper-pagination swiper-pagination1">
							</div>
						</div>
					</section>
					
					
								<!-- 下单按钮 -->
					<section class="slider">
						<div class="swiper-containerbtn swiper-container2">
							<div class="swiper-wrapper tuangouwidth">
								<div class="swiper-slide swiper-slide-duplicate">
									<ul class="icon-list">
										<li class="icon">
											<a href="tuan.html">
												<span class="icon-circle">
													<img src="/static/user/img/index-button/recover.png">
												</span>
												<span class="icon-desc">预约</span>
											</a>
										</li>
										<li class="icon">
											<a href="order.html">
												<span class="icon-circle">
													<img src="/static/user/img/index-button/order.png">
												</span>
												<span class="icon-desc">订单</span>
											</a>
										</li>
										<li class="icon">
											<a href="rush.html">
												<span class="icon-circle">
													<img src="/static/user/img/index-button/calculator.png">
												</span>
												<span class="icon-desc">计算</span>
											</a>
										</li>
										<li class="icon">
											<a href="recharge.html">
												<span class="icon-circle">
													<img src="/static/user/img/index-button/cash.png">
												</span>
												<span class="icon-desc">提现</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>
							
				<div id="index" class="page-center-box">
					<div>				
						<!--首页限时开始-->
						<div class="sy_title"><span class="left">价格趋势</span>
							
						</div>
						<div class="sy_limit_buy mb10">
							<div class="locatLabel_switch swiper-container5 swiper-container-horizontal swiper-container-free-mode swiper-container-android">
								<div class="swiper-wrapper">
									<div class="box swiper-slide">
										<a href="#">
											<img src="/static/user/img/imgs/paper1.jpg" width="" height="">
											<p class="txt_center overflow_clear">废纸</p>
											<p class="txt_center fontcl1">¥0.5<small class="ml10"><img src="/static/user/img/up.png" style="width: 20px; margin-top: -7px;"></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="#">
											<img src="/static/user/img/imgs/glass.jpg" width="" height="">
											<p class="txt_center overflow_clear">玻璃</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><img src="/static/user/img/up.png" style="width: 20px; margin-top: -7px;"></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="#">
											<img src="/static/user/img/imgs/electric.jpg" width="" height="">
											<p class="txt_center overflow_clear">电器</p>
											<p class="txt_center fontcl1">¥50<small class="ml10"><img src="/static/user/img/down.png" style="width: 20px; margin-top: -7px;"></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="#">
											<img src="/static/user/img/imgs/metal3.jpg" width="" height="">
											<p class="txt_center overflow_clear">金属</p>
											<p class="txt_center fontcl1">¥5<small class="ml10"><img src="/static/user/img/up.png" style="width: 20px; margin-top: -7px;"></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="#">
											<img src="/static/user/img/imgs/plastic1.jpg" width="" height="">
											<p class="txt_center overflow_clear">塑料</p>
											<p class="txt_center fontcl1">¥0.1<small class="ml10"><img src="/static/user/img/up.png" style="width: 20px; margin-top: -7px;"></small></p>
										</a>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<!--首价格趋势结束-->
					<!--新闻部分-->
					<div class="sy_title"><span class="left">市场焦点</span></div>
					<div class="panel-content" style="padding-bottom:50px">
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
						<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
						<div class="panel-cont-right">
							<h2>再不冲动就老了,梦想的车宝马320iM购车随笔</h2>
							<h3><em>嘻哈车队</em><span>2018.3</span></h3>
						</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>BMWX5家人自驾一路向北6000公里至中国最北！！！</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>新梦想,新开始,这次，我和我的MINIS一起在路上。</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>没有你的旅行都是流浪,那些兜兜转转的曲折与感伤</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>再不冲动就老了,梦想的车宝马320iM购车随笔</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>再不冲动就老了,梦想的车宝马320iM购车随笔</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>再不冲动就老了,梦想的车宝马320iM购车随笔</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>再不冲动就老了,梦想的车宝马320iM购车随笔</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>再不冲动就老了,梦想的车宝马320iM购车随笔</h2>
							<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
						<a class="panel-cont-finance item-ware-list" data-href="event-detail.html" target="navView" rel="service-level2">
							<div class="panel-cont-left"><img src="/static/user/img/imgs/boli.jpg" alt=""></div>
							<div class="panel-cont-right">
								<h2>再不冲动就老了,梦想的车宝马320iM购车随笔</h2>
								<h3><em>嘻哈车队</em><span>2018.3</span></h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1 on"></div>
					<p>首页</p>
				</a>
			</div>
			
			<div>
				<a href="price.html">
					<div class="icon i-3 "></div>
					<p>价格</p>
				</a>
			</div>
			
			<div>
				<a href="order.html">
					<div class="icon i-7"></div>
					<p>订单</p>
				</a>
			</div>
			
			<div>
				<a href="center.html">
					<div class="icon i-4"></div>
					<p>我的</p>
				</a>
			</div>			
		</footer>		
	</body>
	<script src="/static/user/js/other.js" type="text/javascript" charset="utf-8"></script>
</html>