<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>新闻</title>
	<link rel="stylesheet" href="/static/user/css/ui.css">
	<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
	<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
	<link rel="stylesheet" href="/static/user/css/reset.css">
	<link rel="Shortcut Icon" href="/favicon.ico">
</head>
<body class="body">
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i<i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">新闻</div>
	</header>
<div class="news-detail news-detail-page">
	<h1 class="title">河南废品垃圾可发电30万度废弃物也能变宝</h1>
	<div class="news-info b-line">
		<span class="data">2018-04-07</span>
		<span class="publi">来源：郸锋资源回收</span>
	</div>
</div>
<div class="news-page-text">
	<p>生活中，我们产生的废品垃圾去哪了？是怎样被回收利用的？废品垃圾发电对环境有影响吗？恰逢郑州首批环保设施单位面向公众陆续开放，3月29日10点，笔者随60余名市民报名参加的郑州环保世纪行活动组来到荥阳一垃圾发电厂，零距离揭秘生活垃圾是如何变废为宝的。
	</p>
	<p><img src="/static/user/img/index-new-2.jpg" class="hero-pic"></p>	
	<p>
		现场一处三四层楼高的垃圾库引起众人的注意，只见一辆大铲车在不停地往垃圾通道里运送垃圾。“这是垃圾发电的必经阶段。”公司专工胡宝贵介绍，每天把收集来的生活垃圾先运送至垃圾原生库里存放2至3天，等沥掉水分、发酵后，由机械“抓手”将垃圾投进进料口进行焚烧，产生的热能蒸汽带动发电机发电。每天可焚烧处理1200至1300吨城市垃圾，发电量在30万度，电力全部上网，年上网电量1亿度，每年可节约填埋所需土地150亩。周边22家企业生产所用动力全部来自他们的垃圾发电。 据了解，每千余吨垃圾中会产生150吨左右的废弃物，针对这些废弃物，相关人员会按照指定地点进行填埋处理。
	</p>
	
</div>

</body>
</html>