<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>新闻</title>
	<link rel="stylesheet" href="/static/user/css/ui.css">
	<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
	<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
	<link rel="stylesheet" href="/static/user/css/reset.css">
	<link rel="Shortcut Icon" href="/favicon.ico">
</head>
<body class="body">
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i<i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">新闻</div>
	</header>
<div class="news-detail news-detail-page">
	<h1 class="title">废北京将建筑垃圾建造最大再生主题公园</h1>
	<div class="news-info b-line">
		<span class="data">2018-04-11</span>
		<span class="publi">来源：郸锋资源回收</span>
	</div>
</div>
<div class="news-page-text">
	<p>
		十几吨建筑垃圾“排队”进入生产线，经过个把小时就变成再生建筑材料。地图上，一个叫“七里渠场”的地方，布局并投产了昌平区首个建筑垃圾资源化处置项目，未来将在此聚集昌平沙河镇所有拆违、棚改等重大工程的建筑垃圾，“变废为宝”。不仅如此，周边方圆325亩的土地，将被打造成为北京面积最大的再生自然主题公园——沙河镇环境再生展示园，建筑垃圾就是公园基础建设过程中最重要的原材料。未来，这个公园也将成为占地1400亩的TBD主题运动公园的一部分。一年消纳建筑垃圾70万吨所谓“建筑垃圾资源化处置”，就是对棚改、拆违过程中产生的建筑垃圾进行回收再利用。</p>
		<p><img src="/static/user/img/index-new-3.jpg" class="hero-pic"></p>	
	<p>
		这里原本是七里渠渔场，之后北京中集北方装饰有限公司承租后改变了土地使用用途，渔场也因此彻底变了样。沙河镇副镇长宋岩介绍，该公司将场地内原有鱼池填平，并修建了厂房雨棚、混凝土道路、库房等对外出租。这些房屋用于商品批发、钢材加工、废品回收等经营业态及一所非法民办学校，聚集居住人口近千人，区域内生活居住条件极端恶劣。同时，该市场违法向周边河道倾倒废弃物严重。 经相关部门确认，这片建筑均属于违法建设。去年7月，对该地块进行全市首例司法强拆，当日拆除8.7万平方米，占地100多亩。 违建拆除后没多久，腾拆出的地块上也就开始上马建筑垃圾资源化处置项目。据介绍，目前已经完成一条建筑垃圾综合处置线，年处置规模达到70万吨。今年6月，还将上线两条再生骨料综合利用生产线，年产再生制品50万立方米；以及一条再生道路无机混合料生产线，年产再生道路材料40万吨。处理厂今后可随时搬离其实，建筑垃圾已成为本市迫切需要解决的难题。以昌平区沙河镇为例，到2020年，疏解腾退产生的建筑垃圾预计达到230万吨左右。如果采用传统的填埋方式对这些建筑垃圾进行处置，将占用埋深10米的土地230亩，相当于22个足球场。在外运过程中还将带来扬尘等问题，填埋后的建筑垃圾则会给环境带来二次污染。
	</p>
	<p>
		实施方北京建工资源公司项目经理王效彭说，区别于此前建筑垃圾的外运填埋，这个项目是在棚改垃圾现场进行回收再利用；同时，也与固定的废品垃圾回收厂不同，这只是个临时设施，伴随着所在区域建筑垃圾处理完成，也能随时搬离。“建筑垃圾资源化处置设施，是通过更加资源节约、环境友好的方式消纳建筑垃圾，也能为城市‘留白增绿’及时提供空间。”他说，建筑垃圾投入处置设施后，经过破碎、筛分以及多级分选，生成不同规格的再生骨料。以这些骨料为原料，可以生产出再生砖、再生连锁砌块、再生砂浆、再生混凝土等各类再生产品，从而实现建筑垃圾的减量化、资源化和循环再利用，资源化率可达95%以上。未来融入中轴线绿洲 早在去年年底入场前，项目团队就已经对沙河镇区域内的建筑垃圾进行了成分分析，结合再生产品应用方向及质量标准需求，打造了“不挑食”的建筑垃圾资源化设施。王效彭介绍，这套设施能够将传统建筑垃圾处置工艺难以“对付”的塑料木制品、保温材料等杂质进行有效分离，使得再生骨料的杂质含量严格控制在千分之一以内，确保了后端再生产品的高品质。同时，这套设施采用全封闭模式，配合现场降尘雾炮、喷淋等设施，可以在处置建筑垃圾的过程中有效避免新的环境问题产生。
	</p>	     
	<p>
		未来，在这一区域将打造占地面积约325亩的北京面积最大的再生自然主题公园——沙河镇环境再生展示园。展示园会将原区域内拆除产生建筑垃圾资源化转化后的再生产品回归应用于公园建设，用于铺设公园道路、打造文化雕塑等。并通过与自然景观的融合，表现“城市发展进程”“生态教育”。更重要的是，这里还将与北京TBD主题运动公园、沙河湿地公园融为一体，在北京中轴线上形成一个绿洲。
	</p>
	
	
	
</div>

</body>
</html>