<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>新闻</title>
	<link rel="stylesheet" href="/static/user/css/ui.css">
	<link rel="stylesheet" type="text/css" href="/static/user/css/index.css">
	<link rel="stylesheet" type="text/css"
	href="/static/user/css/mui.min.css" />
	<link rel="stylesheet" href="/static/user/css/reset.css">
	<link rel="Shortcut Icon" href="/favicon.ico">
</head>
<body class="body">
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i
			class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">新闻</div>
	</header>
<div class="news-detail news-detail-page">
	<h1 class="title">废品回收价格疯涨 收废品一年有多少利润？</h1>
	<div class="news-info b-line">
		<span class="data">2018-04-05</span>
		<span class="publi">来源：郸锋资源回收</span>
	</div>
</div>
<div class="news-page-text">
	<p>三十六行，行行出状元，千万不要瞧不起任何的职业，职业无分贵贱。你知道收废品也能月入过万吗？是不是很羡慕这份工作呢？近日，有消息指出废品回收价格疯涨，很多人都因此能够月入过万了，收废品一年有多少利润？你知道吗？
	</p>
	<p><img src="/static/user/img/index-new-1.jpg" class="hero-pic"></p>	
	<p>
		废品回收行业一直都是不起眼的，更是由于前几年受经济环境影响，废品回收行情低迷，很多人都选择退出这个行业。而今年以来各种废品回收价格疯涨，也让很多收废品的朋友们能够月入过万了，你是不是很想知道收废品一年有多少利润呢？一起来看看。
	</p>
	<p>
		据了解，今年以来废品价格整体回升，目前国内废钢价格在1600元/吨左右，同比上涨14%，废铝价格在10500元/吨左右，同比上涨23%，废纸价格涨幅最大，目前回收站回收价格在2100元/吨左右，同比上涨一倍还多。行情的大幅上涨，带动整体行业回暖，“破烂王”重新活跃。
	</p>	     
	<p>
		收废品需要分类别来计算利益，不同收购方法，利润不一样，以收购饮料废品为例：一般一个饮料瓶从被丢弃到被运到回收站内，要经过至少三道关：首先饮料喝完后，饮料瓶先被居民或者拾荒者卖到流动废品收购车上。这些收购者论个收购上来后，再论公斤卖到相对固定的收购点。一般一个饮料瓶子收购价1毛到2毛钱不等，卖给相对固定摊点则是10元一公斤。不同类别价格不一样，一般矿泉水瓶子53个一公斤，两升的可乐瓶子30个一公斤，冰红茶的瓶子35个一公斤。     
	</p>
	<p>	
		这样算下来，一公斤至少能赚四五块钱。而一天赚150元是很容易的事。固定收购点将饮料瓶收上来后，再论吨卖给分布在京郊的废品回收站内的摊位。由于货源固定，每天的量都以吨计算。一般一天的流水账就达到2000到3000元左右，每天的利润大约200多元，年收入也能达到七八万。
	</p>	     
		
	
	
</div>

</body>
</html>